node_modules
npm-debug.log
test/coverage
coverage
docs
build
karma_html
test/results.tap
/ACTjs/nbproject/private/
/nbproject/private/
temp*
artifacts/
current_version.json

## generic files to ignore
*~
*.idea
*.iml
*.svn
*.lock
*.DS_Store
*.swp
*.out
*.swf
*.jpg
*.gif
*.png
*.mp4
*.ogg
*.webm
*.ogv
*.log
_DS_STORE